.center {
    margin: auto;
    width: 100%;
    padding: 10px;
}

canvas {
    margin-right: auto;
    margin-left: auto;
    display: block;
}

body {
    background: #F0EEEE !important;
}

#tt1 {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;
    text-align: center;
    /* identical to box height */
    color: #000000;
}

#municipi {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 50px;
    line-height: 59px;
    color: #000000;
}

#introdueix {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: #000000;
}